@import "../../../../scss/variables.scss";

.point-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
  height: auto;
  padding: $medium;
  box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
  border-radius: 9px;
  z-index: 1;
  @media screen and (max-width: $mobile) {
    padding: $small;
  }

  &__title {
    font-weight: normal;
    margin: 0 0 22px;
    font-size: 17.5px;
    line-height: 21px;
    color: $darkBlue;
    letter-spacing: -0.4375px;
    @media screen and (max-width: $tablet) {
      margin-bottom: $small;
    }
  }

  &__form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: $tablet) {
      padding-top: $extraSmall;
    }
  }

  &__container {
    padding-bottom: $medium;
    display: flex;
    flex-direction: column;
  }
}
