@import "../../../../scss/variables.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-width: 285px;
  height: 100%;
  box-shadow: 0px 1px 75px rgba(90, 97, 105, 0.11),
    0px 2px 4px rgba(90, 97, 105, 0.12), 0px 7.5px 11px rgba(90, 97, 105, 0.1),
    0px 3.5px 17.5px rgba(165, 182, 201, 0.1);
  z-index: 2;
  @media screen and (max-width: $tablet) {
    min-width: auto;
  }

  &__button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px 6px;
    cursor: pointer;
    position: fixed;
    top: $extraSmall;
    left: $extraSmall;
    background-image: url(../../../../images/menu_btn_mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    display: none;
    @media screen and (max-width: $mobile) {
      display: block;
    }
    &:hover {
      transform: scale(1.1);
    }

    &_type_close {
      background-image: url(../../../../images/reset.svg);
      width: $small;
      height: $small;
      top: 10px;
      left: 12px;
    }
  }

  &__menu {
    margin: 0;
  }

  &__item {
    color: $darkBlue;
    font-size: 15px;
    line-height: 17px;
    padding: 20px $extraSmall 20px 28px;
    box-shadow: inset 0px -1px 0px #e1e5eb;
    text-decoration: none;
    display: flex;
    @media screen and (max-width: $tablet) {
      padding-left: $small;
    }
    @media screen and (max-width: $mobile) {
      padding: $small $micro $small $extraSmall;
    }

    &_type_active {
      color: $blue;
      border-left: 4px solid $blue;
    }

    &:hover {
      filter: brightness(70%);
      transition: filter 0.4s linear;
      box-shadow: 0px 2.5px 5.5px rgba(0, 123, 255, 0.3);
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
    margin-right: 12px;
    fill: #cacedb;

    &_active {
      fill: $blue;
    }
  }
}
