@import "../../../scss/variables.scss";

.slider__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: $small $medium + $large 144px;
  position: relative;
  background-size: cover;
  background-position: center center;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    right: 0;
  }
  @media screen and (max-width: $desktopMin) {
    padding: $medium $medium + $medium $small;
  }
}

.slider__title {
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  margin: 0;
  z-index: 5;
  @media screen and (max-width: $desktopMin) {
    font-size: 32px;
    line-height: 37px;
  }
}

.slider__text {
  color: $lightGrey;
  font-weight: 300;
  font-size: 24px;
  line-height: 90%;
  margin: $extraSmall 0 0;
  z-index: 5;
  @media screen and (max-width: $desktopMin) {
    font-size: 22px;
    line-height: 100%;
  }
}
