@import "../../../../scss/variables.scss";

.order {
  min-width: 384px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-left: 1px solid $lightGrey;
  padding: $medium $medium;
  @media screen and (max-width: $tablet) {
    min-width: 100%;
    height: auto;
  }
  @media screen and (max-width: $mobile) {
    padding: $small $small;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $mainBlack;
    margin: 0;
  }

  &__container {
    display: flex;
    margin-top: $medium;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

    &_price {
      justify-content: flex-start;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $mainBlack;
    margin: 0;

    &_thin {
      color: $darkGrey;
      text-align: right;
    }
  }

  &__line {
    border-bottom: 1px dotted $darkGrey;
    width: 100%;
    margin-left: 12px;
    margin-right: 12px;
  }

  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: $mainBlack;
    margin-left: $micro;

    &_title {
      margin: 0;
    }
  }
}
