@import "../../../../scss/variables.scss";

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11),
    0px 2px 4px rgba(90, 97, 105, 0.12), 0px 5px 5px rgba(90, 97, 105, 0.06),
    0px 3.5px 35px rgba(90, 97, 105, 0.1);
  border-radius: 9px;
  margin-bottom: 28px;
  font-family: "Helvetica", sans-serif;
  position: relative;
  overflow: auto;
  @media screen and (max-width: $mobile) {
    padding: $extraSmall;
    margin-bottom: $small;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    align-items: flex-start;
    padding: 16px 22px 0;
    @media screen and (max-width: $mobile) {
      flex-direction: column;
      padding: $extraSmall;
    }
    &_type_digits {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__select-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__button-container {
    display: flex;
    @media screen and (max-width: $mobile) {
      flex-wrap: wrap;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 11px 0 11px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px -0.5px 0px #e0e2e8, 0px 0.5px 0px #e0e2e8;
    width: 100%;

    &_type_order {
      @media screen and (max-width: $mobile) {
        flex-direction: column;
      }
    }
  }

  &__item {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #818ea3;
    letter-spacing: -0.377143px;
    min-width: 100px;
    width: 100px;
    margin-right: 22px;

    &:first-of-type {
      color: $darkBlue;
    }
    &:last-of-type {
      margin-right: 0;
      min-width: 160px;
      width: 160px;
    }

    &_type_title {
      font-weight: bold;
      color: $darkBlue;
    }
  }

  &__image {
    width: 138px;
    height: 63px;
    object-fit: cover;
    margin-right: $small;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    @media screen and (max-width: 1240px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info {
    margin-right: $small;
    @media screen and (max-width: $mobile) {
      margin-top: $small;
    }

    &:first-of-type {
      width: 286px;
      @media screen and (max-width: 1240px) {
        margin-top: $small;
      }
      @media screen and (max-width: $mobile) {
        width: 100%;
      }
    }
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-size: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.408571px;
    color: $mainBlack;
    margin: 0 0 6px;

    &_type_thin {
      color: #889098;
    }
  }

  &__price {
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.754286px;
    color: $mainBlack;
    width: 132px;
    text-align: center;
    @media screen and (max-width: 1240px) {
      margin-top: $small;
    }
  }
}
