@import "../../scss/variables.scss";

.button {
  height: 48px;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-image: linear-gradient(90deg, $mainGreen 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.button:hover {
  filter: brightness(90%);
}

.button:active {
  filter: brightness(80%);
}

.button__disabled {
  background-color: $lightGrey;
  background-image: none;
}

.button_max {
  @media screen and (max-width: $mobile) {
    width: 100% !important;
    margin-top: $medium !important;
    border-radius: 0;
  }
}
