@import "../../scss/variables.scss";

.button {
  height: 48px;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-image: linear-gradient(90deg, $mainGreen 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }

  &_disabled {
    background-color: $lightGrey;
    background-image: none;
  }

  &_max {
    width: 250px;
    margin-top: $large;
    @media screen and (max-width: $mobile) {
      width: 100%;
      margin-top: $medium;
      border-radius: 0;
    }
  }

  &_order {
    width: 287px;
    margin-top: $medium;
    align-self: center;
  }

  &_middle {
    width: 164px;
    margin-top: $medium;
    border-radius: $micro;
    z-index: 5;
  }

  &_middle-plus {
    width: 177px;
    margin: $medium $small 0;
  }

  &_theme {
    &_green {
      background-image: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
    }

    &_blue {
      background-image: linear-gradient(90deg, #132949 0%, #0c7b67 100%);
    }

    &_red {
      background-image: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
    }

    &_violet {
      background-image: linear-gradient(90deg, #281349 0%, #720c7b 100%);
    }
  }
}
