@import "../../../../scss/variables.scss";

.location {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: $medium $large;
  @media screen and (max-width: $desktopMin) {
    padding: $medium $medium;
  }
  @media screen and (max-width: $mobile) {
    padding: $small $small;
  }
}

.location__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: auto;
}

.location__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: $mainBlack;
  margin: 0 0 $small;
}

.location__text_map {
  margin-top: $medium;
}

.location__item {
  position: relative;
  @media screen and (max-width: $mobile) {
    display: flex;
    flex-direction: column;
  }
}

.location__input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid $darkGrey;
  margin-left: $extraSmall;
  min-width: 224px;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  padding-left: $extraSmall;
  &::placeholder {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    color: $darkGrey;
  }
  @media screen and (max-width: $mobile) {
    margin-left: 0;
    margin-top: $extraSmall;
    min-width: 260px;
  }
}

.location__input_icon {
  padding-right: 20px;
}

.location__btn-reset {
  width: $extraSmall;
  height: $extraSmall;
  position: absolute;
  bottom: 6px;
  right: 6px;
  background-image: url(../../../../images/reset.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  padding: 0;
  &:hover {
    outline: 1px solid $mainGreen;
  }
  &:active {
    transform: scale(1.15);
  }
}

.location__map {
  width: 736px;
  max-height: 352px;
  background-size: cover;
  background-position: center center;
  @media screen and (max-width: $desktopMin) {
    width: 80%;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
