@import "../../scss/variables.scss";

.admin-panel {
  display: flex;
  width: 100%;
  min-height: 100%;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
}

.admin-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.admin-container {
  display: flex;
  flex-direction: column;
  background-color: $greyAdmin;
  padding: 28px;
  width: 100%;
  height: 100%;
  padding: 28px;
  position: relative;
  @media screen and (max-width: $mobile) {
    padding: $extraSmall;
  }
}
