@import "../../../../scss/variables.scss";

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: $extraSmall $large;
  margin: 0;
  list-style-type: none;
  border-top: 1px solid $lightGrey;
  border-bottom: 1px solid $lightGrey;
  @media screen and (max-width: $desktopMin) {
    padding-right: $medium;
    padding-left: $medium;
  }
  @media screen and (max-width: $mobile) {
    padding-right: $small;
    padding-left: $small;
  }

  &__item {
    margin: 0;
    display: flex;
    align-items: baseline;
    margin-right: $small;
  }

  &__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $darkGrey;
    margin: 0 $small 0 0;
    text-decoration: none;
    @media screen and (max-width: $mobile) {
      font-weight: normal;
      margin-right: $micro;
    }

    &_active {
      color: $mainGreen;
    }
  }

  &__arrow {
    width: 6px;
    height: $extraSmall;
  }
}
