@import "../../scss/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: $medium $large;
  align-items: center;
  @media screen and (max-width: $desktopMin) {
    padding: $medium $medium;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: $small $small $small $large;
  }

  &__logo {
    color: $mainGreen;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    margin: 0;
  }

  &__place {
    color: $darkGrey;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
    @media screen and (max-width: $mobile) {
      margin-top: $extraSmall;
    }
  }

  &__place-icon {
    width: 15px;
    height: 18px;
    margin-right: $extraSmall;
  }
}
