@import "../../scss/variables.scss";

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: $large;
  min-height: 811px;
  background-color: $black;
  padding: $medium $small;
  @media screen and (max-width: $tablet) {
    width: 86px;
  }
  @media screen and (max-width: $mobile) {
    width: $medium;
    min-height: $medium;
    max-height: $medium;
    background-color: #ffffff;
    position: absolute;
    top: 24px;
    left: 22px;
    padding: 0;
  }
}
.navbar__btn {
  width: $medium;
  height: $medium;
  background-image: url(../../images/menu_btn.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: $extraSmall $micro;
  cursor: pointer;
  @media screen and (max-width: $mobile) {
    padding: 8px 6px;
    background-image: url(../../images/menu_btn_mobile.svg);
  }
}

.navbar__language {
  color: $mainGreen;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}
