@import "../scss/variables.scss";

.start-screen {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: $mobile) {
    position: relative;
  }
}

.title-page {
  display: flex;
  flex-direction: column;
  width: calc((100% - 64px) / 2);
  justify-content: space-between;
  background-color: #ffffff;
  @media screen and (max-width: $desktopMin) {
    width: calc((100% - 64px) * 550 / 960);
  }
  @media screen and (max-width: $tablet) {
    width: calc(100% - 86px);
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.order-page {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  // max-width: 1440px;
}

// .order-content {
//   display: flex;
//   width: 100%;
//   height: 100%;
//   @media screen and (max-width: $tablet) {
//     flex-direction: column;
//   }
// }
