@import "../scss/variables.scss";

.start-screen {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.title-page {
  display: flex;
  flex-direction: column;
  width: calc((100% - 64px) / 2);
  justify-content: space-between;
}
