@import "../../../../scss/variables.scss";

.checkbox-group {
  display: flex;
  align-items: baseline;
  padding-bottom: $medium;
  flex-direction: column;
  @media screen and (max-width: $tablet) {
    padding-bottom: 0;
  }

  &__item {
    margin: 0 0 $extraSmall;
    &:last-of-type {
      margin-bottom: 0;
    }
    @media screen and (max-width: $mobile) {
      margin-right: $extraSmall;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
      position: relative;
      padding-left: 20px;
    }

    &:checked + label {
      color: $mainBlack;
    }

    & + label::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 1px solid $darkGrey;
      margin-right: $extraSmall;
    }

    & + label::after {
      content: "";
      position: absolute;
      width: 13px;
      height: 10px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &:checked + label::after {
      top: 0;
      left: 2px;
      background-image: url("../../../../images/check.svg");
    }

    &:checked + label::before {
      border-color: $mainGreen;
    }

    &:not(:disabled):not(:checked) + label:hover::before {
      border-color: $mainGreen;
    }
  }

  &__name {
    margin-right: $small;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $darkGrey;
    position: relative;
    @media screen and (max-width: $mobile) {
      margin-right: $extraSmall;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}
