@import "../../scss/variables.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $medium $large;
  @media screen and (max-width: $desktopMin) {
    padding: $medium $medium;
  }
  @media screen and (max-width: $mobile) {
    padding: $small $small;
    background-color: $black;
    flex-direction: column;
    align-items: flex-end;
  }
}

.footer__contacts {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  margin: 0;
}

.footer__contacts_copyright {
  color: $darkGrey;
  @media screen and (max-width: $mobile) {
    color: $lightGrey;
    order: 2;
    margin-top: $extraSmall;
  }
}

.footer__contacts_phone {
  color: $mainBlack;
  @media screen and (max-width: $mobile) {
    color: $mainGreen;
    order: 1;
  }
}
