$mainGreen: #0ec261;
$mainBlack: #121212;
$darkGrey: #999999;
$lightGrey: #eeeeee;
$black: #151b1f;

$micro: 4px;
$extraSmall: 8px;
$small: 16px;
$medium: 32px;
$large: 64px;

$mobile: 767px;
$tablet: 1023px;
$desktopMin: 1439px;
